* {
    outline: 1px solid rgb(161, 229, 250);
}

html {
    font-size: 10px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header .top {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

header .top h1 {
    font-size: 0;
}

header .top .right {
    font-size: 2.5rem;
}

header .top .right i {
    margin: 0 0 0 1rem;
}

/* nav(gnb) */
header .gnb {
    position: relative;
}

header .gnb>ul {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
    line-height: 5.5rem;
    font-size: 1.7rem;
    font-weight: 600;
}

header .gnb>ul::after {
    position: absolute;
    top: 5.2rem;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 998;
}

header .gnb>ul:hover::after {
    height: 40rem;
    transition: 0.5s;
}

header .gnb>ul>li {
    position: relative;
    flex: 1;
    line-height: 5.5rem;
    text-align: center;
}

header .gnb>ul>li>ul {
    position: absolute;
    top: 5.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #fff;
    line-height: 5rem;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 999;
}

header .gnb>ul:hover>li>ul {
    height: 40rem;
    transition: 0.5s;
}

header .gnb>ul>li a {
    display: block;
}

/* main_visual */
.main_visual .inner {
    display: flex;
}

.main_visual .inner figure {
    width: 60%;
}

.main_visual .inner figure img {
    width: 100%;
}

.main_visual .inner .right {
    position: relative;
    width: 40%;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
}

.main_visual .inner .right::before {
    position: absolute;
    bottom: 5rem;
    left: -7rem;
    content: "";
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-right: 7rem solid #333;
    border-bottom: 3rem solid transparent;
}

.main_visual .inner .right span {
    font-size: 1.5rem;
}

.main_visual .inner .right span:first-child:after {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    background: #fff;
    margin: 1.5rem 0;
}

.main_visual .inner .right p {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0 2.5rem 0;
    font-size: 1.5rem;
    background: #f00;
}

.main_visual .inner .right h2 {
    margin: 0 0 3rem 0;
    line-height: 1.25;
    font-size: 3.5rem;
    font-weight: 600;
}

.main_visual .inner .right a {
    display: inline-block;
    margin: 0 0 8rem 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.main_visual .inner .right .arrow {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    margin: 0 0 0 10px;
}

.main_visual .inner .right .arrow::after {
    position: absolute;
    bottom: 4px;
    right: -1px;
    display: inline-block;
    content: "";
    width: 13px;
    height: 3px;
    transform: rotate(45deg);
    border-radius: 2px;
    background: #fff;
}

.main_visual .inner .right a:hover~.arrow {
    width: 55px;
    transition: 0.5s;
}

.main_visual .inner .right .logo {
    display: flex;
}

.main_visual .inner .right img {
    width: 8rem;
}

.main_visual .inner .right .logo span {
    margin: 0 0 0 2rem;
    line-height: 8rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.main_visual .swiper-pagination {
    bottom: 100px;
    z-index: 999;
}

.main_visual .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.main_visual .swiper-pagination span.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/* today */
.today {
    padding: 10rem 0;
}

.today .container {
    display: flex;
}

.today .tit {
    margin: auto 0;
}

.today .tit h2 {
    margin: 0 0 0.5rem 0;
    color: #f00;
    font-size: 8rem;
    font-weight: 900;
}

.today .tit h2>span {
    margin: 0 0 0 0.5rem;
    color: #000;
    font-size: 2.5rem;
}

.today .tit h3 {
    margin: 0 0 3rem 0;
    color: #000;
    font-size: 4rem;
    font-weight: 800;
}

.today .tit p {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin: 0 0 3rem 0;
    color: #fff;
    background: #f00;
    font-size: 1.5rem;
    font-weight: 500;
}

.today .tit p::after {
    position: absolute;
    top: 0;
    right: -1.5rem;
    content: "";
    width: 0;
    height: 0;
    border-top: 1.75rem solid transparent;
    border-left: 1.5rem solid #f00;
    border-bottom: 1.7rem solid transparent;
}

.today .pd {
    text-align: center;
}

.today .pd figure {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 2rem 0;
}

.today .pd .front {
    position: relative;
    background: url(../img/todaysale01.jpg)no-repeat center center/cover;
}

.today .pd .back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: url(../img/todaysale01_2.jpg)no-repeat center center/cover;
    transition: 0.5s;
}

.today .pd:hover .back {
    opacity: 1;
}

.today .pd h3 {
    margin: 0 0 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.25;
}

.today .pd p {
    color: #999;
    margin: 0 0 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.25;
}

.today .pd a {
    display: inline-block;
    border: 3px solid #f00;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    transition: 0.5s;
}

.today .pd a:hover {
    background: #f00;
    color: #fff;
}

/* banner */
.banner {
    display: flex;
    padding: 0 0 20rem 0;
}

.banner .left {
    flex: 1;
}

.banner .right {
    flex: 1;
}

.banner .left .txt {
    padding: 1.5rem 0 1.5rem 5rem;
    background: url(../img/banner_psd01.png)no-repeat center center/cover;
    font-size: 2rem;
}

.banner .left .txt span {}