/* Nav --------------------------------------------*/
.Nav {
    margin: 100px 0;
    line-height: 50px;
    border-top: 1px solid var(--gc);
    border-bottom: 1px solid var(--gc);
}

.Nav ul {
    display: flex;
    justify-content: center;
}

.Nav ul>li {
    padding: 0 20px;
}

.Nav ul>li~li {
    border-left: 1px solid var(--gc);
}

/* Section01 ----------------------------------------*/

* {
    color: #333;
}

.container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    gap: 30px;
}

.inner {
    width: 1170px;
    margin: 0 auto;
}

.about {
    padding: 100px 0;
    letter-spacing: -0.025em;
    font-size: 15px;
}

.about img {
    width: 100%;
}

.about h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.about h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0d6efd;
    margin: 15px auto;
}

.about>p {
    margin: 0 0 50px 0;
    font-weight: 300;
    text-align: center;
}

.about .container {
    margin: 0 auto 100px auto;
    justify-content: space-between;
}

.about .container p {
    margin: 0 0 30px 0;
    line-height: 1.45;
}

.about figure {
    height: 400px;
    overflow: hidden;
}

.about h3 {
    position: relative;
    font-size: 23px;
    font-weight: 500;
    padding: 0 0 0 10px;
    margin: 0 0 30px 0;
}

.about h3::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    display: block;
    width: 3px;
    height: 20px;
    background: #0d6efd;
}

.table {
    width: 100%;
    border-top: 3px solid #0d6efd;
    border-spacing: 0;
    border-collapse: collapse;
}

table td {
    padding: 15px;
    border-left: 1px solid #ddd;
}

table th {
    padding: 15px 0;
    text-align: center;
    background: #f7f7f7;
    font-weight: 400;
}

table tr {
    border-bottom: 1px solid #ddd;
}

.responsive-table {
    width: 100%;
}

/* Section02-------------------------------------- */
.Business .container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.Business figure {
    flex: 1;
    /* width: 25%; */
    position: relative;
    overflow: hidden;
}

.Business figure~figure {
    border-left: 1px solid transparent;
}

.Business .cover {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: left 0.5s;
    padding: 40px 10px;
}

.Business figure:hover .cover {
    left: 0;
}

.Business figure h3 {
    /* width: 100%; */
    font-size: 21px;
    font-weight: 500;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.Business figure p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.25;
}

.Business figure .cover a {
    align-self: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    margin-top: auto;
}

.Business .inner::after {
    content: "";
    display: block;
    clear: both;
}

.Business .inner>div {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.Business .container {
    margin: 0 auto 100px auto;
}

.Business .tit strong {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}

.Business .tit p {
    font-size: 15px;
    font-weight: 300;
    padding: 0 0 0 20px;
}

.Business .tit strong::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 80px;
    background: var(--mc);
}

/* Section03---------------------------------------- */

.Business02 .container {
    gap: 50px;
    margin-bottom: 50px;
}

.Business02 .container>div {
    flex: 1;
}

.Business02 .left img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Business02 .right {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--dc);
    padding: 40px 0 0 0;
}

.Business02 .right h3 {
    font-size: 31px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.Business02 .right p {
    margin: 0 0 30px 0;
}

.Business02 .right .bottom {
    padding: 20px 20px 40px 20px;
    margin: auto 0 0 0;
    background: var(--lc);
    border-top: 1px solid var(--gc);
    line-height: 1.2;
}

.Business02 .inner {
    padding: 0 15px;
}

.Business02 .inner h3 {
    font-size: 27px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.Business02 .inner h3::before {
    content: "/";
    color: var(--mc);
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px 0 0;
    display: inline-block;
    transform: translateY(-10px) rotate(20deg);
}

.Business02 .inner ul {
    padding: 20px 0;
    border-top: 1px solid var(--dc);
    border-bottom: 1px solid var(--dc);
}

.Business02 .inner ul>li {
    float: left;
    width: 50%;
    padding: 5px 0;
}

.Business02 .inner ul>li::before {
    content: attr(data-num);
    display: inline-block;
    padding: 5px;
    color: var(--lc);
    background: var(--dc);
    border-radius: 13px;
    margin: 0 15px 0 0;
    font-style: italic;
}

/* Section04 ----------------------------------------*/

.About02 .inner>div {
    padding: 0 15px;
}

.About02 .top {
    float: left;
    width: 100%;
    margin: 0 0 50px 0;
}

.About02 .left {
    float: left;
    width: 35%;
    text-align: center;
    font-size: 25px;
}

.About02 .left::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 150px;
    background: var(--mc);
}

.About02 .right {
    float: left;
    width: 50%;
}

.About02 .right p {
    line-height: 1.45;
    margin: 0 0 30px 0;
}