
* {
    color: #333;
}

.t_b {
    color: #0d6efd;
}

.container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    gap: 30px;
}

.inner {
    width: 1170px;
    margin: 0 auto;
}

.about {
    padding: 100px 0;
    letter-spacing: -0.025em;
    font-size: 15px;
}

.about img {
    width: 100%;
}

.about h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.about h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #0d6efd;
    margin: 15px auto;
}

.about>p {
    margin: 0 0 50px 0;
    font-weight: 300;
    text-align: center;
}

.about .container {
    margin: 0 auto 100px auto;
    justify-content: space-between;
}

.about .tit {
    margin: 0 0 50px 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.45;
}

.about .container p {
    margin: 0 0 30px 0;
    line-height: 1.45;
}

.about figure {
    height: 400px;
    overflow: hidden;
}

.about h3 {
    position: relative;
    font-size: 23px;
    font-weight: 500;
    padding: 0 0 0 10px;
    margin: 0 0 30px 0;
}

.about h3::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    display: block;
    width: 3px;
    height: 20px;
    background: #0d6efd;
}

.table {
    width: 100%;
    border-top: 3px solid #0d6efd;
    border-spacing: 0;
    border-collapse: collapse;
}

table td {
    padding: 15px;
    border-left: 1px solid #ddd;
}

table th {
    padding: 15px 0;
    text-align: center;
    background: #f7f7f7;
    font-weight: 400;
}

table tr {
    border-bottom: 1px solid #ddd;
}

.responsive-table {
    width: 100%;
}
