@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

* {
    font-family: 'Noto Serif KR', serif;
    outline: 1px solid rgb(180, 190, 204);
}

html {
    font-size: 10px;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 13rem;
    text-align: center;
    z-index: 990;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header h1 img {
    width: 20rem;
    margin: 0 0 0 7.5rem;
}

header .gnb>ul {
    display: flex;
    gap: 3rem;
}

header .gnb>ul>li {
    position: relative;
    line-height: 5rem;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 6rem 0 0 0;
}

header .gnb>ul>li a {
    display: block;
    padding: 0 1.5rem;
}

header .gnb>ul>li>ul {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    line-height: 5rem;
    font-size: 1.5rem;
}

header .gnb>ul>li:hover ul {
    display: block;
}

header .gnb>ul>li>ul::before {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    width: 3px;
    height: 15px;
    background: #333;
}

header .gnb>ul>li>ul>li~li {
    border-top: 1px solid #ddd;
}

/* main_visual */
.main_visual {
    background: url(../img/main_visual_bg.png);
}

.main_visual .bg_box {
    width: 35rem;
    height: 80rem;
    background: #333;
}

.main_visual .container {
    position: relative;
}

.main_visual .main_slider {
    position: absolute;
    top: 55%;
    left: -5rem;
    transform: translateY(-50%);
    width: 125rem;
}

.main_visual .main_slider figure {
    display: flex;
    justify-content: space-between;
}

.main_visual .main_slider .left {
    display: flex;
}

.main_visual .main_slider .left .tit {
    margin: auto 0 5rem 0;
}

.main_slider .left .tit span {
    display: inline-block;
    color: #f00;
    font-size: 1.3rem;
    font-weight: 500;
}

.main_slider .left .tit span::after {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    background: #555;
    margin: 0.5rem 0;
}

.main_slider .left .tit p {
    font-size: 1.5rem;
    font-weight: 500;
}

.main_visual .main_slider .left img {
    width: 45rem;
}

.main_visual .main_slider .right {
    text-align: center;
    margin: 12rem auto;
}

.main_slider .right h2 {
    margin: 0 0 3rem 0;
    transform: translateY(100px);
    opacity: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.main_slider figure.on .right h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_slider .right p {
    margin: 0 0 2rem 0;
    transform: translateY(100px);
    opacity: 0;
    font-size: 1.5rem;
}

.main_slider figure.on .right p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_slider .right a {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    transform: translateY(100px);
    opacity: 0;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    overflow: hidden;
}

.main_slider figure.on .right a {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s 1s, opacity 0.5s 1s;
}

.main_slider .right a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform: translateX(-100%);
    z-index: -1;
}

.main_slider .right a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

.main_slider .right a:hover {
    color: #fff;
}

.main_slider .slick-dots button {
    display: none;
}

.main_slider .slick-dots {
    margin: 0 25rem 0 0;
    text-align: center;
}

.main_slider .slick-dots li {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid #333;
    border-radius: 50%;
    background: #fff;
    margin: 0 0.8rem;
}

.main_slider .slick-dots li.slick-active {
    background: #333;
}

/* side_menu */
.side_menu {
    position: fixed;
    top: 20rem;
    right: 3rem;
    z-index: 999;
}

.side_menu>div {
    margin: 0 0 3rem 0;
}

.side_menu .icon {
    position: relative;
    display: inline-block;
    width: 5.5rem;
    height: 3.25rem;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 2.9rem;
}

.side_menu .icon::before {
    content: "";
    position: absolute;
    top: -1.35rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.75rem solid transparent;
    border-right: 2.75rem solid transparent;
    border-bottom: 1.35rem solid #333;
}

.side_menu .icon::after {
    content: "";
    position: absolute;
    bottom: -1.35rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.75rem solid transparent;
    border-right: 2.75rem solid transparent;
    border-top: 1.35rem solid #333;
}

.side_menu span {
    display: inline-block;
    border-bottom: 1px solid #333;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem 0.5rem 1rem;
    margin: 0 0.5rem 0 0;
}

/* menu */
.menu {
    padding: 12rem 0 10rem 0;
    background: #f9f9f9;
}

.menu .container {
    display: flex;
}

.menu .tab_menu li {
    border-radius: 10px 0 0 10px;
    padding: 3rem 1rem;
    writing-mode: tb-rl;
    font-size: 1.7rem;
    font-weight: 600;
}

.menu .tab_menu li:nth-child(1) {
    background: #fff;
}

.menu .tab_menu li:nth-child(2) {
    background: #ddd;
}

.menu .tab_menu li:nth-child(3) {
    background: #777;
}

/* season */
.season {
    padding: 10rem 0;
    background: #e0e0e0;
}

.season .box {
    position: relative;
    padding: 5rem 0;
    background: #555;
    color: #fff;
}

.season .sm01 {
    margin: 0 0 12rem 0;
}

.season .box figure {
    position: absolute;
    top: -20%;
    transform-origin: center;
    width: 35rem;
    padding: 2rem;
    background: #555;
    border-radius: 50%;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.season .sm01 figure {
    left: 10rem;
}

.season .sm02 figure {
    right: 10rem;
}

.season .box h2 {
    position: absolute;
    top: -3.1rem;
    right: 3rem;
    font-size: 3.5rem;
    font-weight: 900;
    color: #555;
}

.season .sm01 .des {
    display: inline-block;
    margin: 0 0 0 50rem;
}

.season .sm02 .des {
    display: inline-block;
    margin: 0 0 0 30rem;
}

.season .box .des span {
    display: block;
    font-size: 1.2rem;
    font-weight: 200;
}

.season .box .des span::after {
    content: "";
    display: block;
    width: 3rem;
    height: 1px;
    background: #fff;
    margin: 1rem 0;
}

.season .box .des h3 {
    margin: 0 0 2rem 0;
    font-size: 2.1rem;
    font-weight: 500;
}

.season .box .des p {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 200;
}

.season .box .des a {
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 200;
    overflow: hidden;
}

.season .box .des a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-100%);
}

.season .box .des a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

/* notice */

.notice {
    padding: 10rem 0;
    background: #f9f9f9;
}

.notice .container {
    display: flex;
    justify-content: space-between;
}

.notice .left {
    width: 50%;
    margin: 0 3rem 0 0;
    padding: 3rem;
    background: #555;
    color: #fff;
    text-align: center;
}

.notice .left .inner {
    padding: 5rem 2rem;
    border: 3px solid #fff;
}

.notice .left h2 {
    font-size: 1.7rem;
    font-weight: 300;
}

.notice .left h2::after {
    content: "";
    display: block;
    width: 2px;
    height: 1.5rem;
    background: #fff;
    margin: 1.5rem auto;
}

.notice .left p {
    margin: 0 0 3rem 0;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.notice .left table {
    width: 80%;
    margin: 0 auto 1.5rem auto;
}

.notice .left table th {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.notice .left table input {
    padding: 0.5rem 3rem;
    margin: 0 auto 0 0;
}

.notice .left label {
    display: block;
    margin: 0 0 3rem 0;
}

.notice .left label input {
    margin: 0 0.5rem 0 0;
}

.notice .left a {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    font-size: 1.5rem;
}

.notice .left a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-100%);
}

.notice .left a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

.notice .right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.notice .right figure {
    position: relative;
    overflow: hidden;
}

.notice .right figure i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2.1rem;
}

.notice .right figure:hover i {
    display: none;
}

.notice .right figure img {
    transition: 0.5s;
}

.notice .right figure:hover img {
    transform: scale(1.2);
}

.notice .right figure .txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.notice .right figure:hover .txt {
    opacity: 1;
}