@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Hahmlet', serif;
    outline: 1px solid rgb(196, 238, 222)-;
}

/* header */
header {
    background: #fefef2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

header .top {
    display: flex;
    justify-content: space-between;
}

header .top figure {
    width: 200px;
}

header .top .right {
    display: flex;
    gap: 30px;
}

header .gnb {
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

header .gnb>ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

header .gnb>ul::after {
    position: absolute;
    top: 51px;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: #fefef2;
}

header .gnb>ul:hover::after {
    height: 150px;
    transition: 0.5s;
}

header .gnb>ul>li {
    position: relative;
    flex: 1;
    border-left: 1px solid #ddd;
    line-height: 50px;
    text-align: center;
}

header .gnb>ul>li:last-child {
    border-right: 1px solid #ddd;
}

header .gnb>ul>li>ul {
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #fefef2;
    line-height: 35px;
    z-index: 999;
}

header .gnb>ul:hover>li>ul {
    height: 150px;
    transition: 0.5s;
}

header .gnb>ul>li a {
    display: block;
}